<div class="process-inner component-inner">
    {{> component this}}
  
<div class="w3-content" style="max-width:400px">
  <div class="mySlides">
    <h1><b>Did You Know 1?</b></h1>
    <h1><i>We plan to sell trips to the moon in the 2020s</i></h1>
  </div>

    <div class="mySlides">
    <h1><b>Did You Know 2?</b></h1>
    <h1><i>We plan to sell trips to the moon in the 2020s</i></h1>
  </div>

  <div class="mySlides">
    <h1><b>Did You Know 3?</b></h1>
    <h1><i>We plan to sell trips to the moon in the 2020s</i></h1>
  </div>

    <div class="mySlides">
    <h1><b>Did You Know 4?</b></h1>
    <h1><i>We plan to sell trips to the moon in the 2020s</i></h1>
  </div>
</div>

    <div id="my-button" class="my-button">CLICK ME</div>
</div>
